* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ol, ul {
    list-style: none;
  }
  
  a {
    display: inline-block;
    text-decoration: none;
  }
  
  img {
    width: 100%;
  }
  
  body {
    font-family: "Raleway", sans-serif;
  }
  
  header .container {
    width: 1360px;
    margin: 0 auto;

  }
  header .container .head {
    width: 100%;
    height: 70px;
    padding: 0px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .container .head .head_img {
    width: 50px;
    height: 50px;
  }
  header .container .head .head_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
  }
  header .container .head .head_list a {
    color: black;
    font-weight: 600;
    transition: 0.3s;
  }
  header .container .head .head_list .contact_us {
    border-bottom: 2px solid orangered;
  }
  header .container .head .head_list a:hover {
    color: orangered;
  }

  section {
    background-image: url(/img/IMAGE\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  section .container {
    width: 1360px;
    margin: 0 auto;
  }
  section .container .section {
    width: 100%;
    height: 500px;
    text-align: center;
  }
  section .container .section .section_text {
    font-size: 35px;
    color: white;
    padding-top: 100px;
  }
  section .container .section .section_subtext {
    margin-top: 20px;
    font-size: large;
    color: gainsboro;
  }
  section .container .section form {
    width: 750px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
  }
  section .container .section form .input {
    width: 550px;
    height: 50px;
    font-size: large;
    padding-left: 15px;
    border: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  section .container .section form .submit {
    width: 200px;
    height: 50px;
    border: none;
    font-size: large;
    font-weight: 500;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.2s;
  }
  section .container .section form .submit:hover {
    background-color: green;
    color: white;
  }
  
  footer .container {
    width: 1360px;
    margin: 0 auto;

  }
  footer .container .footer {
    width: 100%;
    height: 250px;
    padding: 0px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  footer .container .footer .foot_item {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  footer .container .footer .foot_item a {
    color: black;
    font-weight: 600;
    transition: 0.3s;
    width: 95px;
  }
  footer .container .footer .foot_item .contact_us {
    border-bottom: 2px solid orangered;
  }
  footer .container .footer .foot_item a:hover {
    color: orangered;
  }
  footer .container .footer .foot_item .follow {
    font-size: 25px;
    font-weight: 600;
  }
  footer .container .footer .foot_item .foot_logo {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  footer .container .footer .foot_item .copyright {
    font-size: small;
  }
  footer .container .footer .foot_item .fa-telegram {
    color: rgb(0, 183, 255);
    font-size: 20px;
  }
  footer .container .footer .foot_item .fa-instagram {
    font-size: 20px;
    background-image: linear-gradient(90deg, #e01826, #a5a32a);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  footer .container .footer .foot_item .fa-twitter {
    color: rgb(0, 183, 255);
    font-size: 20px;
  }
  footer .container .footer .foot_item .fa-pinterest {
    color: red;
    font-size: 20px;
  }
  #myDiv {
    position: absolute;
    display: none;
    width: 500px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    top: 25%;
    left: 35%;
    box-shadow: 0px 0px 10px white;
    font-size: 30px;
    padding-top: 30px;
  }
  #myDiv .fa-circle-check{
    color: green;
    margin-top: 10px;
    font-size: 110px;
  }
  
  
  /*# sourceMappingURL=main.css.map */